header {
    width: 90%;
    border: dashed 1px #cccccc;
    height: 50px;
    padding: 10px;
}

main {
    width: 90%;
    border: dashed 1px #cccccc;
    height: 600px;
    padding: 10px;
}

footer {
    width: 90%;
    border: dashed 1px #cccccc;
    height: 150px;
    padding: 10px;
}
